[Unit]
Description=PoolCtl REST API Back-End Service (sanic-be).
After=pigpiod.service
Before=nginx.service

[Service]
Type=exec
EnvironmentFile=/etc/profile.d/poolctl.sh
WorkingDirectory={{ dist_home }}/sanic-be
ExecStart={{ pyvenv_home }}/bin/python -m poolctl
User={{ poolctl_user }}
Group={{ poolctl_group }}

[Install]
WantedBy=multi-user.target
